body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Proxima Nova";
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header-1 {
  background: url('../img/bg.png') no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  max-width: 100%;
  padding-top: 30px;
}

.header-1 .menu-gamb .menu-lio.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.header-1 .menu-gamb .menu-lio {
  padding-top: 50px;
  color: white;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#D4145A), to(#FBB03B));
  background: -webkit-linear-gradient(#D4145A, #FBB03B);
  background: -o-linear-gradient(#D4145A, #FBB03B);
  background: linear-gradient(#D4145A, #FBB03B);
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 2;
  top: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.header-1 .menu-gamb .menu-lio .ikon {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.header-1 .menu-gamb .menu-lio .ikon .fa {
  font-size: 45px;
}

.header-1 .menu-gamb .menu-lio .logoo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 25px;
}

.header-1 .menu-gamb .menu-lio .logoo .text-logo {
  margin-left: 10px;
}

.header-1 .menu-gamb .menu-lio .logoo .text-logo h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Proxima Nova';
  font-weight: 600;
}

.header-1 .menu-gamb .menu-lio .logoo .text-logo p {
  font-family: "Proxima Nova";
}

.header-1 .menu-gamb .menu-lio .menu-find {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.header-1 .menu-gamb .menu-lio .menu-find li {
  margin: 15px 0;
}

.header-1 .menu-gamb .menu-lio .menu-find li a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.header-1 .menu-gamb .menu-lio .menu-find li a:hover {
  color: #004776;
}

.header-1 .menu-gamb .menu-go {
  display: none;
  position: fixed;
  top: 10%;
  right: 10%;
  z-index: 1;
}

.header-1 .menu-gamb .menu-go .fa {
  font-size: 35px;
  color: red;
  cursor: pointer;
}

.header-1 .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 25px;
}

.header-1 .logo .text-logo {
  margin-left: 10px;
}

.header-1 .logo .text-logo h3 {
  text-transform: uppercase;
  font-size: 20px;
  color: #242424;
  font-family: 'Proxima Nova';
  font-weight: 600;
}

.header-1 .logo .text-logo p {
  color: #5e5e5d;
  font-family: "Proxima Nova";
}

.header-1 .contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-1 .contact p {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 700;
  font-family: "Proxima Nova";
}

.header-1 .contact .btn {
  background: #feb404;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 15px;
  font-family: "Proxima Nova";
  font-size: 12px;
  color: #ffffff;
  margin-left: 30px;
}

.header-1 .centr {
  margin-top: 104px;
  font-family: "Proxima Nova";
}

.header-1 .centr h1 {
  line-height: 58px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 51px;
}

.header-1 .centr p {
  font-size: 24px;
  font-weight: 400;
  color: #292929;
  line-height: 28px;
  margin-bottom: 60px;
}

.header-1 .centr span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 225px;
  height: 105px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  background: #70c849;
  line-height: 25px;
  cursor: pointer;
  margin-bottom: 37px;
}

.header-1 .centr h4 {
  color: #292929;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 107px;
}

.header-1 .forma {
  width: 355px;
  height: 410px;
  background: white;
  padding-top: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Proxima Nova";
  margin-top: 104px;
}

.header-1 .forma p {
  color: #292929;
  font-family: "Proxima Nova";
  font-size: 18px;
  text-align: center;
  line-height: 23px;
  font-weight: 400;
  margin-bottom: 39px;
}

.header-1 .forma form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-1 .forma form .input-1 {
  width: 256px;
  height: 54px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #dddddd;
  font-size: 13px;
  color: #a4a4a4;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.header-1 .forma form .input-2 {
  width: 256px;
  height: 54px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #dddddd;
  font-size: 13px;
  color: #a4a4a4;
  font-weight: 400;
  text-align: center;
}

.header-1 .forma form button {
  margin-top: 10px;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  padding: 27px 55px;
  background: #fcb303;
  border: none;
  cursor: pointer;
  outline: none;
}

.header-1 .forma form button:hover {
  -webkit-box-shadow: 3px 5px 10px 5px #6a6969;
          box-shadow: 3px 5px 10px 5px #6a6969;
}

.header-1 .forma h5 {
  font-size: 12px;
  color: #565656;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
}

.section-1 {
  font-family: "Proxima Nova";
  padding-top: 99px;
  padding-bottom: 100px;
}

.section-1 .text-1 {
  text-align: center;
  margin-bottom: 130px;
}

.section-1 .text-1 h1 {
  font-size: 36px;
  font-weight: 700;
  color: #1a1820;
}

.section-1 .fakt {
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.section-1 .fakt:hover {
  -webkit-box-shadow: 0px 2px 10px 2px black;
          box-shadow: 0px 2px 10px 2px black;
}

.section-1 .fakt img {
  margin-bottom: 64px;
}

.section-1 .fakt h5 {
  margin-bottom: 35px;
  color: #1a1820;
  font-size: 20px;
  font-weight: 700;
}

.section-1 .fakt p {
  line-height: 20px;
  color: #1a1820;
  font-weight: 300;
  font-size: 16px;
}

.section-2 {
  padding-top: 120px;
  padding-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00537E), to(#3AA17E));
  background: -webkit-linear-gradient(#00537E, #3AA17E);
  background: -o-linear-gradient(#00537E, #3AA17E);
  background: linear-gradient(#00537E, #3AA17E);
  font-family: "Proxima Nova";
}

.section-2 .text-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 90px;
}

.section-2 .text-2 .sena {
  text-align: center;
}

.section-2 .text-2 .sena h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 49px;
}

.section-2 .text-2 .sena p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.section-2 .text-2 .rasrochka {
  position: absolute;
  top: 0;
  right: 0;
}

.section-2 .text-2 .rasrochka .btn-2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  background: #feb504;
  padding: 26px 33px;
}

.section-2 .text-2 .rasrochka .btn-2:hover {
  -webkit-box-shadow: 2px 10px 18px #ffffff;
          box-shadow: 2px 10px 18px #ffffff;
}

.section-2 .prace {
  background: white;
  padding: 50px 50px 45px 50px;
  text-align: center;
  margin-bottom: 50px;
}

.section-2 .prace:hover {
  -webkit-box-shadow: 0 8px 13px #ffffff;
          box-shadow: 0 8px 13px #ffffff;
}

.section-2 .prace h5 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 34px;
  color: #1a1820;
}

.section-2 .prace img {
  margin-bottom: 34px;
}

.section-2 .prace h6 {
  font-size: 30px;
  color: #1a1820;
  font-weight: 700;
  margin-bottom: 34px;
}

.section-2 .prace p {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #1a1820;
  margin-bottom: 112px;
  position: relative;
}

.section-2 .prace p::before {
  content: '\f058';
  font-family: 'FontAwesome';
  position: absolute;
  top: 0;
  left: 10%;
}

.section-2 .prace p::after {
  content: '\f058';
  font-family: 'FontAwesome';
  position: absolute;
  top: 50%;
  left: 28%;
}

.section-2 .prace .zakaz {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  padding: 26px 60px;
  background: #feb403;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.section-2 .prace .zakaz:hover {
  -webkit-box-shadow: 0 8px 13px #000000;
          box-shadow: 0 8px 13px #000000;
}

.section-3 {
  font-family: "Proxima Nova";
  background: url('../img/Stroyki_27.png') no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
}

.section-3 .text-3 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #1a1820;
  margin-bottom: 100px;
}

.section-3 .carousel {
  -webkit-box-shadow: 0 12px 18px rgba(0, 0, 0, 0.11);
          box-shadow: 0 12px 18px rgba(0, 0, 0, 0.11);
  padding: 50px;
}

.section-3 .carousel .slick-next {
  -webkit-transform: translateX(23px);
      -ms-transform: translateX(23px);
          transform: translateX(23px);
  background: green;
  width: 70px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.section-3 .carousel .slick-next::before {
  content: '\f105';
  font-family: 'FontAwesome';
  font-size: 30px;
  display: inline-block;
}

.section-3 .carousel .slick-prev {
  -webkit-transform: translateX(-23px);
      -ms-transform: translateX(-23px);
          transform: translateX(-23px);
  background: green;
  width: 70px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.section-3 .carousel .slick-prev::before {
  content: '\f104';
  font-family: 'FontAwesome';
  font-size: 30px;
  display: inline-block;
}

.section-3 .carousel .rabotniki-img .slick-track {
  width: 100%;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.section-3 .carousel .rabotniki-img .slider-for {
  margin-bottom: 20px;
}

.section-3 .carousel .rabotniki-img .slider-for .img-2 {
  width: 510px;
  height: 310px;
}

.section-3 .carousel .rabotniki-img .slider-for .img-2 img {
  width: 100%;
  height: 100%;
}

.section-3 .carousel .rabotniki-img .slider-nav {
  width: 100%;
}

.section-3 .carousel .rabotniki-img .slider-nav .img-1 {
  width: 72px;
  height: 52px;
  margin: 10px;
}

.section-3 .carousel .rabotniki-img .slider-nav .img-1 img {
  width: 100%;
  height: 100%;
}

.section-3 .carousel .rabotniki-img .slick-track {
  width: 100%;
  -webkit-transform: translate3d(0px, 0px 0px) !important;
          transform: translate3d(0px, 0px 0px) !important;
}

.section-3 .otsivi .sena p {
  font-family: "Proxima Nova";
  font-weight: 400;
  color: #1a1820;
  font-size: 16px;
  line-height: 30px;
}

.section-3 .otsivi .sena p span {
  font-weight: 700;
}

.section-3 .otsivi .zakaz {
  margin-top: 55px;
}

.section-3 .otsivi .zakaz .zakazchil {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-3 .otsivi .zakaz .zakazchil img {
  margin-right: 20px;
}

.section-3 .otsivi .zakaz .zakazchil p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.section-3 .otsivi .zakaz .zakazchil p span {
  font-size: 16px;
  color: #1a1820;
  font-weight: 700;
}

.section-3 .otsivi .zakaz .tex-ots {
  margin-top: 35px;
  border: 2px solid #49bf15;
  padding: 20px;
  position: relative;
}

.section-3 .otsivi .zakaz .tex-ots::before {
  content: '';
  display: block;
  position: absolute;
  top: -1.9rem;
  left: 2.5rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #70c849;
  border-bottom: none;
  -webkit-border-top-right-radius: 100px;
          border-top-right-radius: 100px;
}

.section-3 .otsivi .zakaz .tex-ots p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #1a1820;
}

.section-3 .vopros {
  font-family: "Proxima Nova";
}

.section-3 .vopros .tex-vop {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 40px;
}

.section-3 .vopros .tex-vop h1 {
  font-size: 22px;
  font-weight: 700;
  color: #1a1820;
}

.section-3 .vopros .foromu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-3 .vopros .foromu .input-1 {
  width: 100%;
  height: 54px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #dddddd;
}

.section-3 .vopros .foromu .input-2 {
  width: 100%;
  height: 54px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #dddddd;
}

.section-3 .vopros .foromu .btn-oronge {
  margin-top: 30px;
  width: 100%;
  height: 65px;
  border: 1px solid #ffba15;
  -webkit-box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
          box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5ad00), to(#ffb504));
  background-image: -webkit-linear-gradient(bottom, #f5ad00 0%, #ffb504 100%);
  background-image: -o-linear-gradient(bottom, #f5ad00 0%, #ffb504 100%);
  background-image: linear-gradient(to top, #f5ad00 0%, #ffb504 100%);
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4 {
  background: transparent url("../img/section-4_02.png") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  font-family: "Proxima Nova";
  padding-bottom: 100px;
}

.section-4 .text-4 {
  margin-top: 100px;
  text-align: center;
}

.section-4 .text-4 h1 {
  font-size: 36px;
  font-weight: 700;
  color: #1a1820;
}

.section-4 .text-4 p {
  font-size: 16px;
  font-weight: 400;
  color: #1a1820;
  margin-top: 40px;
}

.section-4 .dol {
  margin-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-4 .dol .sxema {
  color: #1a1820;
}

.section-4 .dol .sxema h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 30px;
}

.section-4 .dol .sxema p {
  font-size: 17px;
  margin-top: 25px;
  font-weight: 400;
  line-height: 18px;
}

.section-5 {
  font-family: "Proxima Nova";
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-5 .text-5 {
  text-align: center;
}

.section-5 .text-5 h1 {
  font-size: 48px;
  color: #358015;
  font-weight: 700;
}

.section-5 .text-5 p {
  font-size: 16px;
  font-weight: 400;
  color: #1a1820;
  margin-top: 40px;
}

.section-5 .nemo {
  margin-top: 100px;
}

.section-5 .nemo .stv {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-5 .nemo .stv img {
  margin-right: 10px;
}

.section-5 .nemo .stv p {
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}

.section-5 .nemo .stv p span {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.section-6 {
  padding-top: 100px;
}

.section-6 .text-6 {
  text-align: center;
  margin-bottom: 80px;
}

.section-6 .text-6 h1 {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
}

.section-6 .sols {
  position: relative;
}

.section-6 .sols .bro {
  border: 4px solid #e8e8e8;
  padding: 50px;
  width: 100%;
}

.section-6 .sols .bro h3 {
  font-size: 21px;
  font-weight: 700;
}

.section-6 .sols .bro .spiska li {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
  color: #313131;
  cursor: pointer;
}

.section-6 .sols .bro .spiska li .fa {
  margin-right: 20px;
  font-size: 16px;
  color: red;
}

.section-6 .sols .girl {
  position: absolute;
  right: 39%;
  z-index: 2;
}

.section-6 .sols .girl img {
  width: 100%;
  height: 100%;
}

.section-6 .sols .ses {
  border: 4px solid #358015;
  padding: 50px;
  width: 100%;
}

.section-6 .sols .ses h3 {
  font-size: 21px;
  font-weight: 700;
}

.section-6 .sols .ses .spiska li {
  margin-top: 35px;
  font-size: 16px;
  font-weight: 400;
  color: #313131;
  cursor: pointer;
  line-height: 18px;
  text-align: left;
  position: relative;
  margin-left: 20px;
}

.section-6 .sols .ses .spiska li .fa {
  margin-right: 20px;
  font-size: 16px;
  color: green;
  position: absolute;
  left: -10%;
}

.section-7 {
  margin-top: 150px;
  padding-top: 100px;
  padding-bottom: 70px;
  background: transparent url("../img/sec-7.png") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
}

.section-7 .text-7 {
  text-align: center;
}

.section-7 .text-7 h1 {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
}

.section-7 .text-7 p {
  font-weight: 400;
  font-size: 19px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 60px;
}

.section-7 .box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.section-7 .box h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #000000;
}

.section-7 .box p {
  font-size: 19px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  margin-bottom: 20px;
}

.section-7 .box p span {
  font-weight: 600;
  font-size: 19px;
}

.section-7 .box .sertifat {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.section-7 .box .sertifat h6 {
  font-size: 16px;
  font-weight: 400;
  color: #6ba253;
  text-decoration: underline;
}

.section-7 .tex-knf {
  margin-top: 10px;
  text-align: center;
}

.section-7 .tex-knf p {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.section-7 .tex-knf p .br {
  text-decoration: underline;
  color: #509134;
}

.section-7 .tex-knf p .bl {
  font-weight: 700;
}

.section-8 {
  padding: 100px 0;
  background: #009245;
}

.section-8 .text-8 {
  text-align: center;
  margin-bottom: 50px;
}

.section-8 .text-8 h1 {
  color: #fcfcfc;
  font-size: 36px;
  font-weight: 700;
}

.section-8 .text-8 p {
  color: #fcfcfc;
  margin-top: 40px;
  font-size: 19px;
  font-weight: 400;
}

.section-8 .box-size {
  width: 100%;
  text-align: center;
  color: #fcfcfc;
  margin-bottom: 30px;
}

.section-8 .box-size img {
  width: 100%;
}

.section-8 .box-size p {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  color: #fcfcfc;
}

.section-8 .box-size .btn-2 {
  padding: 20px 50px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5ad00), to(#ffb504));
  background-image: -webkit-linear-gradient(bottom, #f5ad00 0%, #ffb504 100%);
  background-image: -o-linear-gradient(bottom, #f5ad00 0%, #ffb504 100%);
  background-image: linear-gradient(to top, #f5ad00 0%, #ffb504 100%);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: #fcfcfc;
}

.footer {
  background: transparent url("../img/sec-9.png") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 80px 0;
}

.footer .foot-text {
  width: 100%;
}

.footer .foot-text h1 {
  color: #292929;
  font-size: 36px;
  font-weight: 700;
}

.footer .left-sidebar {
  margin-top: 60px;
}

.footer .left-sidebar .ofis p {
  font-size: 18px;
  color: #292929;
  font-weight: 400;
  line-height: 25px;
}

.footer .left-sidebar .ofis img {
  margin-top: 25px;
}

.footer .left-sidebar .kont {
  margin-top: 30px;
}

.footer .left-sidebar .kont p {
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer .left-sidebar .kont p span {
  font-size: 18px;
  font-weight: 700;
}

.footer .left-sidebar .email {
  margin-top: 40px;
}

.footer .left-sidebar .email p {
  font-size: 18px;
  font-weight: 400;
  color: #292929;
  line-height: 25px;
}

.footer .left-sidebar .email p a {
  text-decoration: underline;
  color: #292929;
}

.footer .left-sidebar .rek {
  margin-top: 40px;
}

.footer .left-sidebar .rek p {
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  color: #292929;
}

.footer .left-sidebar .rek p span {
  font-size: 18px;
  font-weight: 400;
}

.footer .right-sidebar {
  width: 100%;
  background: white;
  padding: 47px 50px;
  text-align: center;
}

.footer .right-sidebar .forn h3 {
  font-size: 18px;
  font-weight: 400;
  color: #292929;
  line-height: 25px;
  margin-bottom: 20px;
}

.footer .right-sidebar .forn form input {
  font-size: 13px;
  font-weight: 400;
  color: #565656;
  width: 100%;
  height: 54px;
  margin-bottom: 25px;
}

.footer .right-sidebar .forn form input:nth-child(4) {
  height: 95px;
}

.footer .right-sidebar .forn form .btn2 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5ad00), to(#ffb504));
  background-image: -webkit-linear-gradient(bottom, #f5ad00 0%, #ffb504 100%);
  background-image: -o-linear-gradient(bottom, #f5ad00 0%, #ffb504 100%);
  background-image: linear-gradient(to top, #f5ad00 0%, #ffb504 100%);
  color: #ffffff;
  width: 100%;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.end {
  padding: 35px 0;
}

.end .logoo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 25px;
}

.end .logoo .text-logo {
  margin-left: 10px;
}

.end .logoo .text-logo h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Proxima Nova';
  font-weight: 600;
}

.end .logoo .text-logo p {
  font-family: "Proxima Nova";
}

.end .tex-sec {
  text-align: center;
}

.end .tex-sec p {
  color: #292929;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
}

.end .tex-sec p span {
  font-size: 20px;
  font-weight: 700;
  color: #292929;
}

.end .keng {
  text-align: end;
}

.end .keng p {
  font-size: 11px;
  font-weight: 300;
  text-align: end;
}

@media (max-width: 1199px) {
  .header-1 .contact p {
    font-size: 13px;
  }

  .header-1 .contact .btn {
    margin-left: 20px;
  }

  .header-1 .centr h1 {
    font-size: 35px;
  }

  .section-2 .prace p::before {
    left: 0%;
  }

  .section-2 .prace p::after {
    left: 25%;
  }
}

@media (max-width: 991px) {
  .header-1 .centr h1 {
    font-size: 26px;
    line-height: 45px;
  }

  .section-2 .text-2 .rasrochka .btn-2 {
    font-size: 12px;
    padding: 15px 20px;
  }

  .section-3 .vopros .foromu .input-2 {
    margin-top: 20px;
  }

  .section-6 .sols .girl {
    display: none;
  }

  .section-6 .sols .ses {
    margin-top: 50px;
  }

  .footer .right-sidebar {
    margin-top: 50px;
  }

  .end .logoo {
    margin-top: 20px;
  }

  .end .tex-sec {
    margin-top: 20px;
  }

  .end .keng {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .header-1 .menu-gamb .menu-go {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .header-1 .logo {
    display: none;
  }

  .header-1 .contact {
    display: none;
  }

  .section-5 .text-5 h1 {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .header-1 .centr {
    text-align: center;
  }

  .header-1 .centr span {
    margin: auto;
    margin-bottom: 30px;
  }

  .header-1 .centr h4 {
    margin-bottom: 25px;
  }

  .header-1 .forma {
    margin-top: 50px;
    margin: auto;
    margin-bottom: 50px;
  }

  .section-2 .text-2 .rasrochka {
    top: 10%;
  }

  .section-2 .text-2 .rasrochka .btn-2 {
    font-size: 9px;
    padding: 10px 15px;
  }

  .section-2 .prace p::before {
    left: 25%;
  }

  .section-2 .prace p::after {
    left: 35%;
  }

  .section-4 .dol .sxema {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 630px) {
  .section-3 .carousel .slick-next {
    width: 45px;
    height: 30px;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  .section-3 .carousel .slick-prev {
    width: 45px;
    height: 30px;
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
  }

  .section-3 .carousel .rabotniki-img .slider-for .img-2 {
    width: 450px;
    height: 250px;
  }
}

@media (max-width: 576px) {
  .section-5 .text-5 h1 {
    font-size: 35px;
  }
}

@media (max-width: 575px) {
  .end .logoo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .end .keng {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 570px) {
  .section-3 .carousel .slick-next {
    width: 45px;
    height: 30px;
    -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px);
  }

  .section-3 .carousel .slick-prev {
    width: 45px;
    height: 30px;
    -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@media (max-width: 513px) {
  .section-2 .prace p::before {
    left: 20%;
  }
}

@media (max-width: 497px) {
  .section-2 .text-2 .rasrochka {
    top: 40%;
    left: 20%;
  }
}

@media (max-width: 456px) {
  .section-2 .prace p::before {
    left: 0%;
  }

  .section-2 .prace p::after {
    left: 20%;
  }
}

@media (max-width: 412px) {
  .header-1 .forma {
    width: 280px;
    height: 410px;
  }

  .header-1 .forma form .input-1 {
    width: 180px;
  }

  .header-1 .forma form .input-2 {
    width: 180px;
  }

  .header-1 .forma form button {
    padding: 15px 20px;
  }
}

@media (max-width: 395px) {
  .section-3 .carousel .rabotniki-img .slider-for .img-2 {
    width: 370px;
    height: 200px;
  }

  .section-3 .carousel .rabotniki-img .slider-nav .img-1 {
    width: 65px;
    height: 45px;
  }
}

@media (max-width: 353px) {
  .header-1 .centr h1 {
    font-size: 20px;
    line-height: 25px;
  }

  .header-1 .centr p {
    font-size: 18px;
  }
}

@media (max-width: 336px) {
  .section-3 .carousel .rabotniki-img .slider-nav .img-1 {
    width: 55px;
    height: 30px;
    margin: 2px;
  }
}

@media (max-width: 329px) {
  .section-2 .prace h6 {
    font-size: 25px;
  }
}